<!-- SEARCH BAR -->
<div class="container">
  <form action="" method="get">
    <div class="product-search">
        <div class="search-element">
          <label class="search-label">Quel type de services souhaitez-vous ?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Services" name="query">
        </div>
        <div class="search-element">
          <label class="search-label">Où ?</label>
          <input class="search-input" type="text" placeholder="Pays" class="" autocomplete="on" name="location">
        </div>
        <div class="search-element">
          <label class="search-label">Date du rendez-vous</label>
          <input class="search-input" type="text" placeholder="Quand ?" class="" autocomplete="on" name="location">
        </div>
        <a type="submit" class="search-button">Rechercher</a>
    </div>
  </form>
</div>

<!-- BANNER -->
<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "homepage_banner_uyg4ir_oaudt0" %>')">
    <div class="container">
      <!-- Textes à mettre à jour -->
      <h1>AirPolitics vous permet de louer des services uniques</h1>
      <p>Grâce à cette application, défie toute personne osant se mettre sur votre chemin.</p>
      <%= link_to "Trouve ton politique", politicians_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<!-- CARDS CATEGORY -->
<div class="container">
  <div class="cards">
    <!-- Titre + photo + lien à mettre à jour -->
    <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      L'art de la fraude fiscale
    </div></a>

    <!-- Titre + photo + lien à mettre à jour -->
    <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      L’art de la manipulation
    </div></a>

    <a href="#"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      L'art de la séduction
    </div></a>
  </div>
</div>
