.navbar-lewagon {
  margin-bottom: 80px;
  justify-content: space-between;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.04) 0 6px 12px 0;
  // fixed
  background-color: white;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  z-index: 90;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  }
  }

// fixed
.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  margin-bottom: 5px;
}

#nav-btn {
  margin-top: 4px;
  margin-right: 20px;
}
