<h5><strong><%= politician.full_name %></strong></h5>
<p><%= cl_image_tag politician.photo.key, height: 100, width: 220, crop: :fill %></p>
<p><strong>Expertise - </strong><%= politician.expertise %></p>
<p><strong>Description</strong><br><%= politician.description %></p>
