<div class="footer text-center">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-links">
      <!-- Lien à mettre à jour / à voir si nécessaire -->
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Projet fait avec <i class="fas fa-heart"></i> par Aurélie, Benjamin, Lucas et Nicolas
    </div>
  </div>
</div>
