<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- Logo à mettre à jour -->
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="btn btn-outline-primary btn-sm" id="nav-btn" href="#">Proposez vos services</a>
          </li>
          <li class="nav-item">
            <!-- Lien à mettre à jour / présence si login -->
            <a class="nav-link" href="#">Bonjour X</a>
          </li>
          <li class="nav-item dropdown">
             <!-- Avatar à mettre à jour / présence si login -->
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <!-- Liens à mettre à jour / présence si non login -->
              <a class="dropdown-item" href="#">Inscription</a>
              <a class="dropdown-item" href="#">Connexionn</a>
              <!-- Liens à mettre à jour / présence si login -->
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Mes réservations</a>
              <a class="dropdown-item" href="#">Déconnexion</a>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
